/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

[class^="icon-"], [class*=" icon-"] { display: inline-block; vertical-align: middle; }

.layout { *zoom: 1; }
.layout:after { content: " "; display: table; clear: both; }
.layout .l-col1 { float: left; width: 520px; }
.layout .l-col2 { float: right; width: 460px; }

body { font-size: 12px; font-family: Arial, sans-serif; line-height: 1.4; color: white; background-color: #303030; background: url("../img/bg.jpg") 50% 0; min-width: 1000px; }

a { color: #0e95cd; text-decoration: underline; }
a:hover { text-decoration: none; }

.container, .header__in, .footer__in { width: 980px; margin-left: auto; margin-right: auto; }

.header { margin-bottom: 30px; font-size: 14px; color: white; }

.header__in { padding-top: 20px; }

.header__row { *zoom: 1; }
.header__row:after { content: " "; display: table; clear: both; }

.header__logo { float: left; margin-right: 100px; background: url('../img/icons-s44a71a7ccd.png') 0 0 no-repeat; width: 124px; height: 82px; }

.header__slogan { float: left; width: 300px; margin-top: 20px; color: darkgrey; }

.header__contacts { position: relative; float: right; margin-top: 15px; padding-right: 100px; }

.header__tel { font-weight: bold; font-size: 20px; }

.header__adr { font-size: 12px; color: darkgrey; }

.header__callback i { display: inline-block; vertical-align: middle; margin-right: 10px; background: url('../img/icons-s44a71a7ccd.png') 0 -1434px no-repeat; width: 8px; height: 9px; }

.header__24h { display: block; position: absolute; top: 0; right: 0; background: url('../img/icons-s44a71a7ccd.png') 0 -92px no-repeat; width: 52px; height: 59px; }

.nav { margin-top: 25px; }

.nav__list { *zoom: 1; text-align: center; }
.nav__list:after { content: " "; display: table; clear: both; }

.nav__item { position: relative; display: inline-block; font-size: 15px; text-transform: uppercase; margin: 0 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.nav__item:hover a, .nav__item.is-active a { border-color: white; }
.nav__item > a { display: block; line-height: 20px; color: white; text-decoration: none; border: 3px solid transparent; padding: 7px 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.nav__item_drop { -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
.nav__item_drop:hover { background: white; }
.nav__item_drop:hover a { color: #4d4d4d; }
.nav__item_drop:hover .nav__dropmenu { display: block; }

.nav__dropmenu { position: absolute; top: 100%; left: 0; right: 0; display: none; background: white; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; padding: 10px 0 25px; z-index: 110; }
.nav__dropmenu li { font-size: 13px; color: #424244; text-transform: none; text-align: left; padding: 0 37px; margin-bottom: 8px; }
.nav__dropmenu a { color: #424244; text-decoration: none; }
.nav__dropmenu a:hover { color: #02a7ec; text-decoration: none; }

.out { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -225px; }

.footer, .push { height: 225px; }

.footer { font-size: 13px; color: #7a7a7a; }

.footer__menu { height: 90px; line-height: 90px; text-align: center; background-color: #1d1d1d; }
.footer__menu li { position: relative; display: inline-block; margin: 0 30px; }
.footer__menu li:hover:before, .footer__menu li.is-active:before { position: absolute; bottom: 0; left: 0; width: 100%; height: 4px; background-color: #ffbc00; content: ""; }
.footer__menu li:hover a, .footer__menu li.is-active a { color: white; text-decoration: none; }
.footer__menu a { position: relative; display: block; color: #959595; padding: 0 5px; text-decoration: underline; }
.footer__menu a:hover { color: white; text-decoration: none; }

.footer__row { position: relative; *zoom: 1; margin-top: 40px; padding: 0 15px; }
.footer__row:after { content: " "; display: table; clear: both; }

.footer__copy { float: left; width: 315px; margin-bottom: 15px; }

.footer__social { position: absolute; left: 30px; top: 30px; *zoom: 1; }
.footer__social:after { content: " "; display: table; clear: both; }
.footer__social li { display: inline-block; vertical-align: middle; margin-left: 25px; }
.footer__social li:first-child { margin-left: 0; }
.footer__social a { display: block; font: 0/0 a; text-shadow: none; color: transparent; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.footer__social a:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.footer__social .fb { background: url('../img/icons-s44a71a7ccd.png') 0 -1408px no-repeat; width: 10px; height: 16px; }
.footer__social .tw { background: url('../img/icons-s44a71a7ccd.png') 0 -1382px no-repeat; width: 13px; height: 16px; }
.footer__social .vk { background: url('../img/icons-s44a71a7ccd.png') 0 -1356px no-repeat; width: 14px; height: 16px; }

.footer__contacts { position: relative; float: left; width: 320px; margin-left: 20px; padding-left: 75px; }
.footer__contacts:before { position: absolute; left: 20px; top: 0; background: url('../img/icons-s44a71a7ccd.png') 0 -402px no-repeat; width: 32px; height: 44px; content: ""; }

.footer__adv { float: right; background: url('../img/icons-s44a71a7ccd.png') 0 -161px no-repeat; width: 119px; height: 28px; }
.footer__adv a { display: block; height: 100%; }

.page { margin-bottom: 15px; }

.topper { position: relative; overflow: hidden; }

.main-block { position: relative; height: 490px; overflow: hidden; }

.main-block__picture { position: relative; width: 520px; }
.main-block__picture:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: ""; background: url(../img/shadow.png); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.main-block__picture img { display: block; min-width: 100%; min-height: 100%; }

.main-block__content { position: absolute; top: 95px; left: 35px; right: 35px; }

.main-block__title { margin-bottom: 1em; line-height: 1; font-size: 60px; color: white; font-weight: bold; }

.main-block__desc { font-size: 18px; font-weight: bold; color: white; margin-bottom: 1em; }

.main-block__moar { font-size: 15px; color: #01b2fc; text-decoration: none; }
.main-block__moar:hover { text-decoration: underline; }

.main-block__pager { position: absolute; bottom: 20px; left: 40px; z-index: 101; }

.pager span { display: inline-block; vertical-align: top; width: 10px; height: 10px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: url('../img/icons-s44a71a7ccd.png') 0 -1335px no-repeat; width: 11px; height: 11px; cursor: pointer; margin-left: 9px; }
.pager span:first-child { margin-left: 0; }
.pager span.is-active { background: url('../img/icons-s44a71a7ccd.png') 0 -1314px no-repeat; width: 11px; height: 11px; }

.toolbar { *zoom: 1; }
.toolbar:after { content: " "; display: table; clear: both; }

.toolbar__item { position: relative; float: left; width: 50%; height: 240px; }
.toolbar__item.is-active .toolbar__content { right: 100%; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; z-index: 106; }
.toolbar__item.toolbar__item_service .toolbar__desc { background-color: #0e95cd; }
.toolbar__item.toolbar__item_service .toolbar__desc:hover { background-color: #14a0da; }
.toolbar__item.toolbar__item_service .toolbar__desc:before { position: absolute; top: 52px; left: 50%; margin-left: -31px; background: url('../img/icons-s44a71a7ccd.png') 0 -739px no-repeat; width: 62px; height: 76px; content: ""; }
.toolbar__item.toolbar__item_service .toolbar__content { background: #0e95cd; }
.toolbar__item.toolbar__item_feedback .toolbar__desc { background-color: #0076a7; }
.toolbar__item.toolbar__item_feedback .toolbar__desc:hover { background-color: #0684b8; }
.toolbar__item.toolbar__item_feedback .toolbar__desc:before { position: absolute; top: 65px; left: 50%; margin-left: -32px; background: url('../img/icons-s44a71a7ccd.png') 0 -199px no-repeat; width: 64px; height: 49px; content: ""; }
.toolbar__item.toolbar__item_feedback .toolbar__content { width: 720px; background: #0076a7; }

.toolbar__desc { position: relative; height: 100%; cursor: pointer; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; z-index: 106; }

.toolbar__title { padding-top: 160px; font-size: 16px; font-weight: bold; color: white; text-align: center; }

.toolbar__content { position: absolute; right: -100%; top: 0; width: 490px; height: 400px; z-index: 105; padding: 45px 15px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }

.tabs__nav { *zoom: 1; }
.tabs__nav:after { content: " "; display: table; clear: both; }
.tabs__nav li { position: relative; float: left; width: 230px; height: 240px; text-align: center; }
.tabs__nav a { display: block; height: 80px; padding-top: 160px; font-size: 16px; font-weight: bold; color: white; text-align: center; text-decoration: none; }

.tabs__nav_services { background-color: #0e95cd; }
.tabs__nav_services:hover { background-color: #14a0da; }
.tabs__nav_services:before { position: absolute; top: 52px; left: 50%; margin-left: -31px; background: url('../img/icons-s44a71a7ccd.png') 0 -739px no-repeat; width: 62px; height: 76px; content: ""; }

.tabs__nav_feedback { background-color: #0076a7; }
.tabs__nav_feedback:hover { background-color: #0684b8; }
.tabs__nav_feedback:before { position: absolute; top: 65px; left: 50%; margin-left: -32px; background: url('../img/icons-s44a71a7ccd.png') 0 -199px no-repeat; width: 64px; height: 49px; content: ""; }

.tabs__content { position: absolute; left: 0; top: 0; width: 520px; height: 490px; z-index: 106; padding: 45px 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.tabs__content.feedback { width: 750px; }
.tabs__content.services { background-color: #0e95cd; padding: 45px 0 0 15px; }

.services__menu { color: white; }
.services__menu ul { display: inline-block; vertical-align: top; margin-left: 10px; }
.services__menu ul:first-child { margin-left: 0; }
.services__menu li { margin-bottom: 7px; }
.services__menu li:hover { background: #0082b8; }
.services__menu a { position: relative; display: block; color: white; font-size: 12px; font-weight: bold; text-decoration: none; line-height: 20px; padding: 12px 20px 12px 60px; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.services__menu a [class^="icon-"], .services__menu a [class*=" icon-"] { position: absolute; left: 17px; top: 50%; margin-top: -13px; }
.services__menu a .icon-motor { background: url('../img/icons-s44a71a7ccd.png') 0 -1135px no-repeat; width: 26px; height: 18px; margin-top: -9px; }
.services__menu a .icon-transmission { background: url('../img/icons-s44a71a7ccd.png') 0 -1214px no-repeat; width: 17px; height: 26px; margin-top: -13px; }
.services__menu a .icon-starter { background: url('../img/icons-s44a71a7ccd.png') 0 -671px no-repeat; width: 26px; height: 26px; margin-top: -13px; }
.services__menu a .icon-brake { background: url('../img/icons-s44a71a7ccd.png') 0 -528px no-repeat; width: 26px; height: 26px; margin-top: -13px; }
.services__menu a .icon-exhaust { background: url('../img/icons-s44a71a7ccd.png') 0 -890px no-repeat; width: 31px; height: 22px; margin-top: -11px; }
.services__menu a .icon-body { background: url('../img/icons-s44a71a7ccd.png') 0 -1188px no-repeat; width: 26px; height: 16px; margin-top: -8px; }
.services__menu a .icon-electro { background: url('../img/icons-s44a71a7ccd.png') 0 -1282px no-repeat; width: 26px; height: 22px; margin-top: -11px; }
.services__menu a .icon-support { background: url('../img/icons-s44a71a7ccd.png') 0 -1073px no-repeat; width: 23px; height: 24px; margin-top: -12px; }
.services__menu a .icon-extra { background: url('../img/icons-s44a71a7ccd.png') 0 -956px no-repeat; width: 20px; height: 20px; margin-top: -10px; }
.services__menu a .icon-music { background: url('../img/icons-s44a71a7ccd.png') 0 -600px no-repeat; width: 26px; height: 26px; margin-top: -13px; }
.services__menu a .icon-tire { background: url('../img/icons-s44a71a7ccd.png') 0 -492px no-repeat; width: 26px; height: 26px; margin-top: -13px; }
.services__menu a .icon-glass { background: url('../img/icons-s44a71a7ccd.png') 0 -1163px no-repeat; width: 26px; height: 15px; margin-top: -7px; }
.services__menu a .icon-wash { background: url('../img/icons-s44a71a7ccd.png') 0 -825px no-repeat; width: 22px; height: 25px; margin-top: -13px; }
.services__menu a .icon-disk { background: url('../img/icons-s44a71a7ccd.png') 0 -456px no-repeat; width: 26px; height: 26px; margin-top: -13px; }
.services__menu a:hover .icon-motor { background: url('../img/icons-s44a71a7ccd.png') 0 -1107px no-repeat; width: 26px; height: 18px; }
.services__menu a:hover .icon-transmission { background: url('../img/icons-s44a71a7ccd.png') 0 -986px no-repeat; width: 17px; height: 26px; }
.services__menu a:hover .icon-starter { background: url('../img/icons-s44a71a7ccd.png') 0 -564px no-repeat; width: 26px; height: 26px; }
.services__menu a:hover .icon-brake { background: url('../img/icons-s44a71a7ccd.png') 0 -330px no-repeat; width: 26px; height: 26px; }
.services__menu a:hover .icon-exhaust { background: url('../img/icons-s44a71a7ccd.png') 0 -707px no-repeat; width: 31px; height: 22px; }
.services__menu a:hover .icon-body { background: url('../img/icons-s44a71a7ccd.png') 0 -1022px no-repeat; width: 26px; height: 16px; }
.services__menu a:hover .icon-electro { background: url('../img/icons-s44a71a7ccd.png') 0 -1250px no-repeat; width: 26px; height: 22px; }
.services__menu a:hover .icon-support { background: url('../img/icons-s44a71a7ccd.png') 0 -922px no-repeat; width: 23px; height: 24px; }
.services__menu a:hover .icon-extra { background: url('../img/icons-s44a71a7ccd.png') 0 -860px no-repeat; width: 20px; height: 20px; }
.services__menu a:hover .icon-music { background: url('../img/icons-s44a71a7ccd.png') 0 -366px no-repeat; width: 26px; height: 26px; }
.services__menu a:hover .icon-tire { background: url('../img/icons-s44a71a7ccd.png') 0 -294px no-repeat; width: 26px; height: 26px; }
.services__menu a:hover .icon-glass { background: url('../img/icons-s44a71a7ccd.png') 0 -1048px no-repeat; width: 26px; height: 15px; }
.services__menu a:hover .icon-wash { background: url('../img/icons-s44a71a7ccd.png') 0 -636px no-repeat; width: 22px; height: 25px; }
.services__menu a:hover .icon-disk { background: url('../img/icons-s44a71a7ccd.png') 0 -258px no-repeat; width: 26px; height: 26px; }
