/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

[class^="icon-"], [class*=" icon-"] { display: inline-block; vertical-align: middle; }

.layout { *zoom: 1; }
.layout:after { content: " "; display: table; clear: both; }
.layout .l-col1 { float: left; width: 520px; }
.layout .l-col2 { float: right; width: 460px; }

body { font-size: 12px; font-family: Arial, sans-serif; line-height: 1.4; color: white; background-color: #303030; background: url("../img/bg.jpg") 50% 0; min-width: 1000px; }

a { color: #0e95cd; text-decoration: underline; }
a:hover { text-decoration: none; }

.container, .header__in, .footer__in { width: 980px; margin-left: auto; margin-right: auto; }

.input { display: block; width: 100%; line-height: 16px; font-size: 14px; color: #9adaf5; border: 1px solid #63abc9; background-color: #0076a7; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 10px 15px; }
.input:-moz-placeholder, .input::-moz-placeholder { color: #9adaf5; opacity: 1; }
.input::-webkit-input-placeholder { color: #9adaf5; }
.input:focus { border: 1px solid #31c1fd; }
.input:focus:-moz-placeholder, .input:focus::-moz-placeholder { color: transparent; opacity: 1; }
.input:focus::-webkit-input-placeholder { color: transparent; }

.select { position: relative; line-height: 16px; font-size: 14px; color: #9adaf5; border: 1px solid #63abc9; background-color: #0076a7; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.select:hover { cursor: pointer; }
.select span { display: block; padding: 10px 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.select span em { font-style: normal; }
.select span i { position: absolute; top: 50%; margin-top: -3px; right: 15px; content: ""; background: url('../img/icons-saf820cf117.png') 0 -1543px no-repeat; width: 16px; height: 7px; }
.select.is-open { border: 1px solid #31c1fd; }
.select.is-open span i { -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; }
.select.is-open .select__drop { display: block; }
.select .select__drop { display: none; position: absolute; top: 100%; left: -1px; width: 100%; background-color: #0076a7; border: 1px solid #31c1fd; border-width: 0 1px 1px; }
.select .select__drop ul { margin: 0; padding: 0 0 2px; }
.select .select__drop li { padding: 0 13px; height: 40px; line-height: 40px; margin: 0 2px; }
.select .select__drop li:hover { background-color: #006c9a; color: white; cursor: pointer; }
.select .select__drop li.is-selected { background-color: #006c9a; color: white; }
.select .select__drop li span { padding: 0; }

.btn { display: inline-block; font-family: Arial, sans-serif; font-size: 15px; line-height: 18px; font-weight: bold; color: white; border: 3px solid white; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background-color: transparent; padding: 7px 12px 9px; text-decoration: none; }
.btn:hover { text-decoration: none; color: #0076a7; background-color: white; }

.header { margin-bottom: 30px; font-size: 14px; color: white; }

.header__in { padding-top: 20px; }

.header__row { *zoom: 1; }
.header__row:after { content: " "; display: table; clear: both; }

.header__logo { float: left; margin-right: 100px; background: url('../img/icons-saf820cf117.png') 0 0 no-repeat; width: 124px; height: 82px; }

.header__slogan { float: left; width: 300px; margin-top: 20px; color: darkgrey; }

.header__contacts { position: relative; float: right; margin-top: 15px; padding-right: 100px; }

.header__tel { font-weight: bold; font-size: 20px; }

.header__adr { font-size: 12px; color: darkgrey; }

.header__callback i { display: inline-block; vertical-align: middle; margin-right: 10px; background: url('../img/icons-saf820cf117.png') 0 -1560px no-repeat; width: 8px; height: 9px; }

.header__24h { display: block; position: absolute; top: 0; right: 0; background: url('../img/icons-saf820cf117.png') 0 -92px no-repeat; width: 52px; height: 59px; }

.nav { margin-top: 25px; }

.nav__list { *zoom: 1; text-align: center; }
.nav__list:after { content: " "; display: table; clear: both; }

.nav__item { position: relative; display: inline-block; font-size: 15px; text-transform: uppercase; margin: 0 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.nav__item:hover a, .nav__item.is-active a { border-color: white; }
.nav__item > a { display: block; line-height: 20px; color: white; text-decoration: none; border: 3px solid transparent; padding: 7px 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.nav__item_drop { -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
.nav__item_drop:hover { background: white; }
.nav__item_drop:hover a { color: #4d4d4d; }
.nav__item_drop:hover .nav__dropmenu { display: block; }

.nav__dropmenu { position: absolute; top: 100%; left: 0; right: 0; display: none; background: white; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; padding: 10px 0 25px; z-index: 110; }
.nav__dropmenu li { font-size: 13px; color: #424244; text-transform: none; text-align: left; padding: 0 37px; margin-bottom: 8px; }
.nav__dropmenu a { color: #424244; text-decoration: none; }
.nav__dropmenu a:hover { color: #02a7ec; text-decoration: none; }

.out { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -225px; }

.footer, .push { height: 225px; }

.footer { font-size: 13px; color: #7a7a7a; }

.footer__menu { height: 90px; line-height: 90px; text-align: center; background-color: #1d1d1d; }
.footer__menu li { position: relative; display: inline-block; margin: 0 30px; }
.footer__menu li:hover:before, .footer__menu li.is-active:before { position: absolute; bottom: 0; left: 0; width: 100%; height: 4px; background-color: #ffbc00; content: ""; }
.footer__menu li:hover a, .footer__menu li.is-active a { color: white; text-decoration: none; }
.footer__menu a { position: relative; display: block; color: #959595; padding: 0 5px; text-decoration: underline; }
.footer__menu a:hover { color: white; text-decoration: none; }

.footer__row { position: relative; *zoom: 1; margin-top: 40px; padding: 0 15px; }
.footer__row:after { content: " "; display: table; clear: both; }

.footer__copy { float: left; width: 315px; margin-bottom: 15px; }

.footer__social { position: absolute; left: 30px; top: 30px; *zoom: 1; }
.footer__social:after { content: " "; display: table; clear: both; }
.footer__social li { display: inline-block; vertical-align: middle; margin-left: 25px; }
.footer__social li:first-child { margin-left: 0; }
.footer__social a { display: block; font: 0/0 a; text-shadow: none; color: transparent; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.footer__social a:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.footer__social .fb { background: url('../img/icons-saf820cf117.png') 0 -1517px no-repeat; width: 10px; height: 16px; }
.footer__social .tw { background: url('../img/icons-saf820cf117.png') 0 -1464px no-repeat; width: 13px; height: 16px; }
.footer__social .vk { background: url('../img/icons-saf820cf117.png') 0 -1438px no-repeat; width: 14px; height: 16px; }

.footer__contacts { position: relative; float: left; width: 320px; margin-left: 20px; padding-left: 75px; }
.footer__contacts:before { position: absolute; left: 20px; top: 0; background: url('../img/icons-saf820cf117.png') 0 -484px no-repeat; width: 32px; height: 44px; content: ""; }

.footer__adv { float: right; background: url('../img/icons-saf820cf117.png') 0 -161px no-repeat; width: 119px; height: 28px; }
.footer__adv a { display: block; height: 100%; }

.page { margin-bottom: 15px; }

.topper { position: relative; overflow: hidden; }

.main-block { position: relative; height: 490px; overflow: hidden; }

.main-block__picture { position: relative; width: 520px; }
.main-block__picture:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: ""; background: url(../img/shadow.png); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.main-block__picture img { display: block; min-width: 100%; min-height: 100%; }

.main-block__content { position: absolute; top: 95px; left: 35px; right: 35px; }

.main-block__title { margin-bottom: 1em; line-height: 1; font-size: 60px; color: white; font-weight: bold; }

.main-block__desc { font-size: 18px; font-weight: bold; color: white; margin-bottom: 1em; }

.main-block__moar { font-size: 15px; color: #01b2fc; text-decoration: none; }
.main-block__moar:hover { text-decoration: underline; }

.main-block__pager { position: absolute; bottom: 20px; left: 40px; z-index: 101; }

.pager span { display: inline-block; vertical-align: top; width: 10px; height: 10px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: url('../img/icons-saf820cf117.png') 0 -1417px no-repeat; width: 11px; height: 11px; cursor: pointer; margin-left: 9px; }
.pager span:first-child { margin-left: 0; }
.pager span.is-active { background: url('../img/icons-saf820cf117.png') 0 -1396px no-repeat; width: 11px; height: 11px; }

.tabs__nav { *zoom: 1; }
.tabs__nav:after { content: " "; display: table; clear: both; }
.tabs__nav li { position: relative; float: left; width: 230px; height: 240px; text-align: center; }
.tabs__nav a { display: block; height: 80px; padding-top: 160px; font-size: 16px; font-weight: bold; color: white; text-align: center; text-decoration: none; }

.tabs__nav_services { background-color: #0e95cd; }
.tabs__nav_services:hover { background-color: #14a0da; }
.tabs__nav_services:before { position: absolute; top: 52px; left: 50%; margin-left: -31px; background: url('../img/icons-saf820cf117.png') 0 -821px no-repeat; width: 62px; height: 76px; content: ""; }

.tabs__nav_feedback { background-color: #0076a7; }
.tabs__nav_feedback:hover { background-color: #0684b8; }
.tabs__nav_feedback:before { position: absolute; top: 65px; left: 50%; margin-left: -32px; background: url('../img/icons-saf820cf117.png') 0 -281px no-repeat; width: 64px; height: 49px; content: ""; }

.tabs__content { position: absolute; left: 0; top: 0; width: 520px; height: 490px; z-index: 106; padding: 20px 25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.tabs__content.feedback { background-color: #0076a7; width: 750px; padding: 80px 25px 20px; }
.tabs__content.services { background-color: #0e95cd; padding: 45px 0 0 15px; }

.services__menu { color: white; }
.services__menu ul { display: inline-block; vertical-align: top; margin-left: 10px; }
.services__menu ul:first-child { margin-left: 0; }
.services__menu li { margin-bottom: 7px; }
.services__menu li:hover { background: #0082b8; }
.services__menu a { position: relative; display: block; color: white; font-size: 12px; font-weight: bold; text-decoration: none; line-height: 20px; padding: 12px 20px 12px 60px; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.services__menu a [class^="icon-"], .services__menu a [class*=" icon-"] { position: absolute; left: 17px; top: 50%; margin-top: -13px; }
.services__menu a .icon-motor { background: url('../img/icons-saf820cf117.png') 0 -1217px no-repeat; width: 26px; height: 18px; margin-top: -9px; }
.services__menu a .icon-transmission { background: url('../img/icons-saf820cf117.png') 0 -1296px no-repeat; width: 17px; height: 26px; margin-top: -13px; }
.services__menu a .icon-starter { background: url('../img/icons-saf820cf117.png') 0 -753px no-repeat; width: 26px; height: 26px; margin-top: -13px; }
.services__menu a .icon-brake { background: url('../img/icons-saf820cf117.png') 0 -610px no-repeat; width: 26px; height: 26px; margin-top: -13px; }
.services__menu a .icon-exhaust { background: url('../img/icons-saf820cf117.png') 0 -972px no-repeat; width: 31px; height: 22px; margin-top: -11px; }
.services__menu a .icon-body { background: url('../img/icons-saf820cf117.png') 0 -1270px no-repeat; width: 26px; height: 16px; margin-top: -8px; }
.services__menu a .icon-electro { background: url('../img/icons-saf820cf117.png') 0 -1364px no-repeat; width: 26px; height: 22px; margin-top: -11px; }
.services__menu a .icon-support { background: url('../img/icons-saf820cf117.png') 0 -1155px no-repeat; width: 23px; height: 24px; margin-top: -12px; }
.services__menu a .icon-extra { background: url('../img/icons-saf820cf117.png') 0 -1038px no-repeat; width: 20px; height: 20px; margin-top: -10px; }
.services__menu a .icon-music { background: url('../img/icons-saf820cf117.png') 0 -682px no-repeat; width: 26px; height: 26px; margin-top: -13px; }
.services__menu a .icon-tire { background: url('../img/icons-saf820cf117.png') 0 -574px no-repeat; width: 26px; height: 26px; margin-top: -13px; }
.services__menu a .icon-glass { background: url('../img/icons-saf820cf117.png') 0 -1245px no-repeat; width: 26px; height: 15px; margin-top: -7px; }
.services__menu a .icon-wash { background: url('../img/icons-saf820cf117.png') 0 -907px no-repeat; width: 22px; height: 25px; margin-top: -13px; }
.services__menu a .icon-disk { background: url('../img/icons-saf820cf117.png') 0 -538px no-repeat; width: 26px; height: 26px; margin-top: -13px; }
.services__menu a:hover .icon-motor { background: url('../img/icons-saf820cf117.png') 0 -1189px no-repeat; width: 26px; height: 18px; }
.services__menu a:hover .icon-transmission { background: url('../img/icons-saf820cf117.png') 0 -1068px no-repeat; width: 17px; height: 26px; }
.services__menu a:hover .icon-starter { background: url('../img/icons-saf820cf117.png') 0 -646px no-repeat; width: 26px; height: 26px; }
.services__menu a:hover .icon-brake { background: url('../img/icons-saf820cf117.png') 0 -412px no-repeat; width: 26px; height: 26px; }
.services__menu a:hover .icon-exhaust { background: url('../img/icons-saf820cf117.png') 0 -789px no-repeat; width: 31px; height: 22px; }
.services__menu a:hover .icon-body { background: url('../img/icons-saf820cf117.png') 0 -1104px no-repeat; width: 26px; height: 16px; }
.services__menu a:hover .icon-electro { background: url('../img/icons-saf820cf117.png') 0 -1332px no-repeat; width: 26px; height: 22px; }
.services__menu a:hover .icon-support { background: url('../img/icons-saf820cf117.png') 0 -1004px no-repeat; width: 23px; height: 24px; }
.services__menu a:hover .icon-extra { background: url('../img/icons-saf820cf117.png') 0 -942px no-repeat; width: 20px; height: 20px; }
.services__menu a:hover .icon-music { background: url('../img/icons-saf820cf117.png') 0 -448px no-repeat; width: 26px; height: 26px; }
.services__menu a:hover .icon-tire { background: url('../img/icons-saf820cf117.png') 0 -376px no-repeat; width: 26px; height: 26px; }
.services__menu a:hover .icon-glass { background: url('../img/icons-saf820cf117.png') 0 -1130px no-repeat; width: 26px; height: 15px; }
.services__menu a:hover .icon-wash { background: url('../img/icons-saf820cf117.png') 0 -718px no-repeat; width: 22px; height: 25px; }
.services__menu a:hover .icon-disk { background: url('../img/icons-saf820cf117.png') 0 -340px no-repeat; width: 26px; height: 26px; }

.feedback__close { position: absolute; top: 20px; right: 25px; background: url('../img/icons-saf820cf117.png') 0 -1490px no-repeat; width: 17px; height: 17px; cursor: pointer; }

.feedback__form { width: 525px; margin-left: auto; margin-right: auto; }

.feedback__row { margin-bottom: 30px; }
.feedback__row label { display: block; margin-bottom: 7px; color: #eff6ff; }

.feedback__action { *zoom: 1; }
.feedback__action:after { content: " "; display: table; clear: both; }
.feedback__action .btn { float: right; }

.newspreview { float: left; position: relative; width: 230px; height: 250px; background: #191919; }

.newspreview__head { position: absolute; top: 23px; left: 23px; font-size: 13px; font-weight: bold; color: #ffbc00; text-transform: uppercase; line-height: 1; }

.newspreview__item { width: 100%; height: 205px; overflow: hidden; padding: 50px 20px 0 23px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.newspreview__pager { position: absolute; left: 23px; bottom: 18px; }

.newspreview__date { line-height: 1; font-size: 13px; margin-bottom: 0.5em; }

.newspreview__title { font-size: 14px; font-weight: bold; color: white; line-height: 1.2; margin-bottom: 1em; }
.newspreview__title a { color: white; text-decoration: underline; }
.newspreview__title a:hover { text-decoration: none; }

.news__desc { font-size: 13px; color: #9a9a9a; }

.findus { float: left; width: 230px; height: 250px; background: url("../img/map_bg.jpg"); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; text-align: center; }

.findus__hotzone { display: block; height: 100%; color: white; text-decoration: none; }
.findus__hotzone:hover { text-decoration: underline; }

.findus__icon { display: inline-block; background: url('../img/icons-saf820cf117.png') 0 -199px no-repeat; width: 54px; height: 72px; content: ""; margin-top: 84px; margin-bottom: 25px; }

.findus__title { display: block; font-size: 16px; font-weight: bold; color: white; }
